@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-base text-textbase font-sans;
    }

    input,
    textarea,
    select {
        @apply text-gray-800;
    }


    input::placeholder,
    textarea::placeholder {
        @apply text-gray-400;
    }
}